@model UetdsProgramiNet.Models.ReferansModel

@{
    ViewData["Title"] = "Referans Güncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Referans Güncelle</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/Referans/AdminIndex">Referanslar</a></li>
                                <li class="breadcrumb-item active">Referans Güncelle</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Referans Güncelle</h4><br/>
                            <form asp-action="AdminGuncelle" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />

                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Referans Açıklaması</label>
                                    <input asp-for="Description" class="form-control" required />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="ImageUrl" class="form-label">Resim Dosya Adı (örn: uetdslogo.png)</label>
                                    <input asp-for="ImageUrl" class="form-control" required />
                                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="IsActive" class="form-check-input" />
                                    <label asp-for="IsActive" class="form-check-label">Aktif mi?</label>
                                </div><br/>

                                <button type="submit" class="btn btn-success">Güncelle</button>
                                <a asp-action="AdminIndex" class="btn btn-secondary">İptal</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
