<!-- Views/Account/AccessDenied.cshtml -->
@{
    ViewData["Title"] = "Erişim Reddedildi";
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Bu sayfaya erişim izniniz bulunmamaktadır.</p>
</header>