@model UetdsProgramiNet.Models.ForgotPasswordViewModel

<h2>Şifremi Unuttum</h2>

<form asp-action="ForgotPassword" method="post">
    <div class="form-group">
        <label for="Email">E-posta</label>
        <input type="email" class="form-control" id="Email" asp-for="Email" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Gönder</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
