@model UetdsProgramiNet.Models.ResetPasswordViewModel

<h2>Şifreyi Sıfırla</h2>

<form asp-action="ResetPassword" method="post">
    <input type="hidden" asp-for="Email" />

    <div class="form-group">
        <label for="NewPassword">Yeni Şifre</label>
        <input type="password" class="form-control" id="NewPassword" asp-for="NewPassword" />
        <span asp-validation-for="NewPassword" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="ConfirmPassword">Şifreyi Onayla</label>
        <input type="password" class="form-control" id="ConfirmPassword" asp-for="ConfirmPassword" />
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Şifreyi Güncelle</button>
</form>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
