<div id="scrollbar">
    <div class="container-fluid">
        <div id="two-column-menu">
        </div>
        <ul class="navbar-nav" id="navbar-nav">
            <li class="menu-title"><span data-key="t-menu">Menü</span></li>

            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarReferans" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarReferans">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Referans İşlemleri</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarReferans">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/Referans/referans-listesi" class="nav-link" data-key="t-analytics"> Referanslar </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Referans/referans-ekle" class="nav-link" data-key="t-crm"> Referans Ekle </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarHizmet" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarHizmet">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Hizmet İşlemleri</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarHizmet">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/Hizmet/hizmet-listesi" class="nav-link" data-key="t-analytics"> Hizmet Listesi </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Hizmet/hizmet-ekle" class="nav-link" data-key="t-crm"> Hizmet Ekle </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarFiyatPolitikasi" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarFiyatPolitikasi">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Fiyat Politikasi</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarFiyatPolitikasi">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/Fiyat/fiyat-listesi" class="nav-link" data-key="t-analytics"> Fiyat Listesi </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Fiyat/fiyat-ekle" class="nav-link" data-key="t-crm"> Fiyatlandirma Ekle </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarSlider" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarSlider">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Sliderlar</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarSlider">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/Slider/slider-listesi" class="nav-link" data-key="t-analytics"> Slider Listesi </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Slider/slider-ekle" class="nav-link" data-key="t-crm"> Slider Ekle </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" href="#sidebarBlog" data-bs-toggle="collapse" role="button" aria-expanded="false" aria-controls="sidebarBlog">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Bloglar</span>
                </a>
                <div class="collapse menu-dropdown" id="sidebarBlog">
                    <ul class="nav nav-sm flex-column">
                        <li class="nav-item">
                            <a href="/Blog/blog-listesi" class="nav-link" data-key="t-analytics"> Blog Listesi </a>
                        </li>
                        <li class="nav-item">
                            <a href="/Blog/blog-ekle" class="nav-link" data-key="t-crm"> Blog Ekle </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link menu-link" target="_blank" href="/" role="button">
                    <i class="ri-dashboard-2-line"></i> <span data-key="t-dashboards">Siteyi Aç</span>
                </a>
            </li>

        </ul>

    </div>
</div>