@{
    ViewData["Title"] = "Hakkimizda";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<style>
    .breadcrumb {
        font-size: 1.25rem; /* Yazı boyutunu büyüt */
        font-weight: bold; /* Yazı kalınlığını artır */
    }

        .breadcrumb a, .breadcrumb .active {
            color: white; /* Yazı rengini beyaz yap */
        }

    .page-header {
        background-color: green; /* Arka plan rengini yeşil yap */
        position: relative; /* Konumlandırma için gerekli */
    }

    nav[aria-label="breadcrumb"] {
        position: absolute; /* Breadcrumb'ı sayfa üzerinde konumlandır */
        top: 20px; /* Breadcrumb'ı yukarıya kaydır */
        width: 100%; /* Breadcrumb'ın tüm genişliği kaplaması için */
    }
</style>
<div role="main" class="main px-3 px-lg-5">
    <div class="page-header py-0 bg-primary px-3 px-xl-0 border-radius-2 p-relative mb-5">
        <div class="container p-relative z-index-1 py-2">
            <div class="row align-items-center py-4">
                <div class="col-8 col-md-7">
                    <div class="appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="0">
                        <span class="badge bg-color-dark-rgba-10 text-light rounded-pill text-uppercase font-weight-semibold text-2-5 px-3 py-2 px-4 mb-3">
                            <span class="d-inline-flex py-1 px-2">uetds</span>
                        </span>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <h1 class="text-dark text-9 text-lg-12 font-weight-semibold line-height-1 mb-2">U-ETDS Nedir?</h1>
                    </div>
                    <div class="appear-animation" data-appear-animation="fadeIn" data-appear-animation-delay="200">
                        <ul class="breadcrumb d-flex text-3-5 font-weight-semi-bold pb-2 mb-3">
                            <li><a href="/" class="text-dark text-decoration-none">Anasayfa</a></li>
                            <li class="active">U-ETDS Nedir?</li>
                        </ul>
                    </div>
                </div>
                <div class="col-4 col-md-5 p-relative">
                    <div class="opacity-2 p-absolute w-100 rotate-r-50 custom-pos-5 d-none d-lg-block">
                        <img src="~/img/icons/abstract-bg-1.svg" alt="" data-icon data-plugin-options="{'onlySVG': true, 'extraClass': 'svg-fill-color-secondary w-100'}" />
                    </div>
                    <div class="custom-mask-img custom-mask-img-4 custom-el-6">
                        <img src="~/assets2/img/demos/accounting-1/generic/fiyatPeople.jpg" loading="lazy" class="img-fluid" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Title Section -->
<div class="text-center my-5">
    <h2>U-ETDS Programı Nedir?</h2>
</div>
<!-- Main Content Section -->
<div class="container">
    <h3>UETDS Programı Nedir?</h3>
    <p>
        UETDS Programı lojistik verilerinizi takip etmenizi ve E-Devlete göndermenizi sağlayan bulut tabanlı, E-Devlet ile %100 senkronize çalışan bir uygulamadır.
    </p>
    <h3>Neden UETDS Programını Kullanmalıyım?</h3>
    <ul>
        <li>Lojistik verilerinizi çok daha hızlı bir şekilde E-Devlete bildirebilirsiniz.</li>
        <li>Gelişmiş listeleme modülü ile geçmişe dönük tüm kayıtlarınızı filtreleyebilirsiniz.</li>
        <li>PDF modülü ile kayıtlarınızı pdf olarak saklayabilirsiniz.</li>
        <li>Raporlama modülü ile yük, şoför, araç ve lojistik kayıtlarınızı istediğiniz şekilde filtreleyebilirsiniz.</li>
        <li>Kayıt oluştururken tekrarlayan verilerinizi (araç, şoför, dorse, şoför ad soyad, gönderen ve alıcı bilgileri) tekrar tekrar girmek zorunda kalmazsınız.</li>
        <li>Kaydettiğiniz lojistik kayıtlarınızı, iş planınıza uygun bir şekilde istediğiniz zaman gönderebilirsiniz.</li>
    </ul>
    <p>
        Çok yakında UETDS ve ön muhasebe programı entegre versiyonunu yayınlayacağız.
    </p>

    <p>
        Demo istekleri ve program hakkında bilgi almak için 0850 304 11 41 numaralı telefonu arayabilirsiniz.
    </p>
    <div class="appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="800">
        <div class="d-flex flex-column flex-lg-row pt-3 align-items-lg-center justify-content-center">
            <div>
                <a href="/Fiyat" class="btn btn-rounded btn-green box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                    <span>Hemen Sipariş Ver <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                </a>
            </div>
            <div class="text-4 px-3 d-none d-lg-block">-</div>
            <div>
                <!-- Ücretsiz Demo Butonu -->
                <a id="whatsapp-demo-button" class="btn btn-rounded btn-magenta box-shadow-7 font-weight-medium btn-swap-1" data-clone-element="1">
                    <span>Ücretsiz Demo <i class="fa-solid fa-arrow-right ms-2 p-relative left-10"></i></span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>

<script>
    // WhatsApp demo talep URL'si
    const phoneNumber = '+908503041141';
    const message = `UETDS DEMO TALEBİ Lütfen demo oluşturabilmemiz için aşağıdaki bilgileri tarafımıza iletiniz. Firma Adı:......... Vergi Dairesi/Vergi No/TCKN:......... Yetkili İsmi:..........`;

    const whatsappUrl = `https://api.whatsapp.com/send/?phone=${encodeURIComponent(phoneNumber)}&text=${encodeURIComponent(message)}&type=phone_number&app_absent=0`;

    // Demo butonuna tıklama olayını dinleyip kullanıcıyı WhatsApp'a yönlendirme
    document.getElementById('whatsapp-demo-button').addEventListener('click', function() {
        window.location.href = whatsappUrl;
    });
</script>