<footer class="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <script>document.write(new Date().getFullYear())</script> © MDemir.
            </div>
            <div class="col-sm-6 text-sm-end">
                Design & Develop by M.Demir
            </div>
        </div>
    </div>
</footer>