@model UetdsProgramiNet.Models.BlogModel
@{
    ViewData["Title"] = "Guncelle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="main-content">
    <div class="page-content">
        <div class="container-fluid">
            <!-- start page title -->
            <div class="row">
                <div class="col-12">
                    <div class="page-title-box d-sm-flex align-items-center justify-content-between bg-galaxy-transparent">
                        <h4 class="mb-sm-0">Blog Güncelle</h4>
                        <div class="page-title-right">
                            <ol class="breadcrumb m-0">
                                <li class="breadcrumb-item"><a href="/Blog/blog-listesi">Bloglar</a></li>
                                <li class="breadcrumb-item active">Blog Güncelle</li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end page title -->

            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <h4 class="card-title">Blog Güncelle</h4><br />
                            <form asp-action="AdminGuncelle" method="post" enctype="multipart/form-data">
                                <input type="hidden" asp-for="Id" />
                                <div class="mb-3">
                                    <label asp-for="Title" class="form-label">Blog Başlığı</label>
                                    <input asp-for="Title" class="form-control" required />
                                    <span asp-validation-for="Title" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="Description" class="form-label">Açıklama</label>
                                    <input asp-for="Description" class="form-control" required />
                                    <span asp-validation-for="Description" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="SubDescription" class="form-label">Alt Açıklama</label>
                                    <textarea asp-for="SubDescription" class="form-control" rows="4" required></textarea>
                                    <span asp-validation-for="SubDescription" class="text-danger"></span>
                                </div>

                                <div class="mb-3">
                                    <label asp-for="ImgUrl" class="form-label">Resim URL</label>
                                    <input asp-for="ImgUrl" class="form-control" required />
                                    <span asp-validation-for="ImgUrl" class="text-danger"></span>
                                </div>
                                <div class="mb-3">
                                    <label asp-for="InfoUrl" class="form-label">Bağlantı Yolu</label>
                                    <input asp-for="InfoUrl" class="form-control" required />
                                    <span asp-validation-for="InfoUrl" class="text-danger"></span>
                                </div>
                                <div class="form-check">
                                    <input asp-for="IsActive" class="form-check-input" />
                                    <label asp-for="IsActive" class="form-check-label">
                                        @(Model.IsActive ? "Yayında" : "Yayında Değil")
                                    </label>
                                </div>

                                <br />

                                <button type="submit" class="btn btn-success">Güncelle</button>
                                <a asp-action="AdminIndex" class="btn btn-secondary">İptal</a>

                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Page-content -->

    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                    <script>document.write(new Date().getFullYear())</script> © Velzon.
                </div>
                <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block">
                        Design & Develop by M.Demir
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>

<script>
    document.getElementById('IsActive').addEventListener('change', function() {
        const label = document.querySelector('label[for="IsActive"]');
        if (this.checked) {
            label.textContent = "Yayında";
        } else {
            label.textContent = "Yayında Değil";
        }
    });
</script>
